*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    color:darkslategrey;
  }

  a{
    text-decoration: none;
    color:darkslategrey;
  }
nav{
    display: flex;
    position: sticky;
    
    justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 30px 60px;
  background-color: antiquewhite;
    
}
.openMenu, .closeMenu{
    display: none;
  }
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
  }
  header{display: flex;
    width: 100%;

}

#logo-ctn h2{
    font-size: 30px;
  }

  nav li{
    display: inline-block;
  }
  nav li a{
    color: darkslategrey;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
  }