*{ font-family: sans-serif roboto;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{background-color: darkslategrey;
    color:antiquewhite;  }

  a{
    text-decoration: none;
    color:darkslategrey;
  }
nav{
    display: flex;
    position: sticky;

    justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: antiquewhite;
    
}
.openMenu, .closeMenu{
    display: none;
  }
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
  }
header{
    width: 100%;
    color:darkslategrey;

}

#logo-ctn h2{
    font-size: 30px;
  }

  nav li{
    display: inline-block;
  }
  nav li a{
    color: darkslategrey;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
  }
 #origin{margin: 2rem;
   padding: 10px;
   display: flex;
   gap: 10%;
   /* justify-content: space-between; */
  }
  .intro-text{
    text-align: center;
  }
  img{
    width: 100%;
  }
  .img-ctn{ width: 20%;
    border-radius: 10px;
  }